
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
background-color: rgb(247, 250, 252);
margin: 0 auto;
}
main{
    width: 77%;
    margin: 0 auto;
}
h2{
height: 1.19rem;
color: rgb(45, 55, 72);
font-family: Roboto;
font-size: 2.5rem;
font-weight: 700;
line-height: 2.93rem;
text-align: center;
padding-top: 5.13rem;
}
h3{
height: 1.19rem;
    color: rgb(45, 55, 72);
font-family: Roboto;
font-size: 1rem;
font-weight: 800;
line-height: 1.19rem;
text-align: center;
}
p{
    height: 1.19rem;
font-family: Roboto;
font-size: 1rem;
font-weight: 400;
line-height: 1.19rem;
text-align: left;
padding-top: 3.81rem;
}
.border{
width: 100%;
border: 0.06rem solid rgb(203, 213, 224);
margin: 2.44rem;
margin-left: 0;
}
.content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6.44rem;
}
.left{
    width: 31.5%;
    box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(152, 149, 149, 0.25);
background: rgb(255, 255, 255);
margin-top: 2.56rem;
}
.top{
    padding: 1.5rem;
}
.content h2{
    height: 2.19rem;
    color: rgb(45, 55, 72);
font-family: Roboto;
font-size: 1.88rem;
font-weight: 700;
line-height: 2.19rem;
text-align: left;
padding-top: 0;
}
.content h1{
    color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 3.13rem;
font-weight: 700;
line-height: 3.69rem;
text-align: center;
}
.content p{
    height: 4.75rem;
    color: rgb(74, 85, 104);
font-family: Roboto;
font-size: 1rem;
font-weight: 400;
line-height: 1.19rem;
text-align: left;
padding-top: 1rem;
}
.content ul{
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 800;
    line-height: 3.13rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-left: 6.88rem;
    padding-right: 5.62rem;
    list-style-type: none;
    list-style-image: url(image/point.png);
    list-style-position: outside;
}
.bottom-left{
width: 100%;
height: 4.38rem;
background: rgb(237, 242, 247);
text-align: center;
padding-top: 1.5rem;
}
.bottom-left h3{
color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 19px;
}
.bottom-center h3{
    color: rgb(247, 250, 252);
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 19px;
}
.center{
    width: 31.5%;
    height: 39.1rem;
    box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(152, 149, 149, 0.25);
background: rgb(255, 255, 255);
}
.bottom-center{
width: 100%;
height: 4.38rem;
background: rgb(234, 7, 116);
text-align: center;
padding-top: 1.5rem;
}
.right{
    width: 31.5%;
    box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(152, 149, 149, 0.25);
background: rgb(255, 255, 255);
margin-top: 2.56rem;
}
.bottom-right{
width: 100%;
height: 4.38rem;
background: rgb(237, 242, 247);
text-align: center;
padding-top: 1.5rem;
}
.bottom-right h3{
color: rgb(0, 0, 0);
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 19px;
}

@media(min-width:40rem) and 
      (max-width:60rem){
    main{
        width: 95%;
    }
    .content ul{
        list-style-position: inside;
            padding: 0;
    }
    .center{
        height: 100%;
    }
}
@media(max-width:40rem){
    body{
        background-color: rgb(221, 221, 255);
    }
    main{
        width: 95%;
    }
    main p{
        text-align: center;
    }
    .content{
        display: block;
        margin: 0 auto;
    }
    .content ul{
            list-style-position: inside;
            padding: 0;
    }
    .content h2{
        text-align: center;
    }
    .left{
        width: 90%;
        margin: 1.5rem auto;
    }
    .center{
        width: 90%;
        height: 100%;
        margin: 1.5rem auto;
    }
    .right{
        width: 90%;
        margin: 1.5rem auto;
    }
}